
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  .ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .a {
    display: inline-block;
  }
  .address-link {
    font-style: normal;
  }
  .container {
    width: 100%;
    max-width: 1288px;
    padding: 20px;
    margin: 0 auto;
    @media screen and (min-width: $bp-tablet) {
      padding: 24px 0;
    }
  }
.body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'rockwell', sans-serif ;
    align-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      font-weight: 400;
    }
  }
  .h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
  }

  .a {
    display: inline-block;
  }
  .img {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
  }
  .visually-hidden {
    position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
  }
  .address {
    font-style: normal;
  }
  .ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  