  .carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;    
  &--next {
    transform: rotate(180deg);
  }
  &__aroow {
    fill: var(--color-primary-dark);
}
&:hover,
&:focus {
    fill: var(--color-secondary-dark);
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary-dark);
}

}
