 .contact-section {
  padding-bottom: 96px;
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    @media screen and (min-width:  $bp-tablet) {
      flex-direction: row;
      gap: 32px;
      padding: 20px;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__form-field {
  margin-bottom: 24px;
}
  &__map {
    max-width: 100%;
    height: 176px;
    margin: 0 -24px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 0;
    @media screen and (min-width:  $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
    }
    
    @media screen and (min-width:  $bp-desktop) {
      width: 600px;
      height: 592px;
    }
  }
  
&__button {
  display: block;
  margin: 0 auto 24px;
}
&__terms {
  margin: 0 auto;
  max-width: 210px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  
&__link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
}
 }