  .formats-section {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__container {
    overflow: hidden;
  }
  &__button {
    display: none;
    @media screen and (min-width:  $bp-tablet) {
      display: block;
    }
  }
  &__list {
    margin-bottom: 32px;
    padding: 0;
  }
  
}