
  :root {
    --color-brand-normal: #819b57;
    --color-primary-light: #FAF4EA;
    --color-secondary-dark: #a28268;
    --color-primary-dark: #31261A;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-primary-normal: #ddadaf;
  }
  $bp-mobile: 480px;
  $bp-tablet: 768px;
  $bp-desktop: 1280px;