
.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  
&__terms-link {
  color: var(--color-secondary-dark);
  text-underline-offset: 2px;
}
}