.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.5s;
    &.is-open {
        transform: translateX(0);
    }
    &::after {
        position: absolute;
        width: 180px;
        height: 240px;
        top: 72px;
        right: 16px;
        transform: rotate(-15.05deg);
        background-image: url('../images/Group\ 4941.png');
        content: '';
    }
    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        background-color: transparent;
        border: none;
    }
    &__logo {
        position: absolute;
        top: 16px;
        left: 32px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 84px;
        list-style: none;
    }
    &__link {
        color: var(--color-primary-dark);
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;

    &:hover {
        color: var(--color-brand-normal);
    }
    }
}